PORT=5001
PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA5ar/aIEDoUWp1TA4B2jXc/uaziWJRBHtpbb4M8w4iZ+KvksLLDPh2P8XGlMKFXmHJIMauJmew1wj7eG4VoLsG95dr58OqYQr5XS5pXA8H+W/SYwwpKcArHu6CMp4mRdbN4Iml2qdV2Xh4ezJ+BNyngPDgNrE3vRyLzHe7f18NIkNwLqvf5pKb64iTruxDOzgmOp7c70Lbq03k9rDSwRY+SUMIn4PoYRIe0hbujUp7dL5BpICImC0acK34nyinx3JzVzllxNDGnlM3fTIipUCYqhJ+jm+nbmzzfNrdxOIjdYDHi89vQ+vuvju0HqncRt7qfKd+mhtoPHJoxACI9yyMQIDAQAB\n-----END PUBLIC KEY-----"
